<!doctype html>
<html>
  <body>
    <h1>Tasks</h1>

    <form method="POST">
        <input name="title" placeholder="New task..." required />
        <br>
        <textarea name="description" placeholder="Description (optional)"></textarea>
        <br>
        <input type="date" name="due_date">
        <br>
        <button type="submit">Add</button>
    </form>


    <ul>
{% for task in tasks %}
  <div>
    {% if task.done %}
      <s>{{ task.title }}</s>
    {% else %}
      {{ task.title }}
    {% endif %}

    {% if task.description %}
      <p>{{ task.description }}</p>
    {% endif %}

    {% if task.due_date %}
     <small>Due: {{ task.due_date.strftime("%Y-%m-%d") }}</small>

     {% if (not task.done) and (task.due_date < today) %}
        <strong> — OVERDUE</strong>
    {% elif (not task.done) and (task.due_date <= due_soon_cutoff) %}
        <strong> — Due soon</strong>
    {% endif %}
    {% else %}
    <small>Due: —</small>
    {% endif %}



    

    <form method="post" action="{{ url_for('toggle_task', task_id=task.id) }}" style="display:inline;">
      <button type="submit">Toggle</button>
    </form>

    <form method="post" action="{{ url_for('delete_task', task_id=task.id) }}" style="display:inline;">
      <button type="submit">Delete</button>
    </form>

    <a href="{{ url_for('edit_task', task_id=task.id) }}">Edit</a>
  </div>
{% endfor %}



    </ul>
    <p><a href="/">Back to home</a></p>
  </body>
</html>
